:root {
  --color-bg-message: #ccc;

  --vp-layout-max-width: 1600px;
}

body {
  overscroll-behavior: none;
}

.demo-btn {
  padding: 2px 4px;
  border: 1px solid var(--vp-c-border);
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
  user-select: none;
}

.demo-input {
  width: 100px;
  padding: 2px 4px;
  border: 1px solid var(--vp-c-border);
}

.content-container {
  max-width: 100% !important;
}

.content {
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    width: 14px;
    height: 14px;
  }

  /* 定义滑块颜色、内阴影及圆角 */
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: red;
    background-clip: padding-box;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
  }
}

.virt-tree-wrapper {
  overflow: hidden;
  border: 1px solid #ccc;
  height: 500px;
}
